<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tasks</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/task-form.js"></script>
    <link rel="stylesheet" href="/css/task-form.css">
</head>
<body>
    <h1>Tasks</h1>
    <h2>No tasks defined yet.</h2>
    {% include 'tasks/task_form.html.twig' %}
</body>
</html>